mat-card {
  max-width: 80%;
  margin: 2em auto;
  text-align: center;
}

mat-form-field{
  position:relative;
  margin-left:40%;
  margin-top: 2%;
  width: 13%;
}

section {
  display: table;
}

.column-flex {
  display: flex;
  flex-direction: column;
  min-width: 300px;
}

.loading-spinner {
  padding: 25px;
  background: rgba(0, 0, 0, 0.15);
  display: flex;
  align-items: center;
  justify-content: center;
}

.button-buscar{
  display: table-cell;
  max-width: 600px;
  position: relative;
  margin-left: 5%;
  text-decoration-color: azure;
}


