.mat-table {
  overflow: auto;
  max-height: 600px;
  height: auto;
}

.action-column {
  flex: 0 0 125px;
}

.action-column-header {
  margin: 0 auto;
}

// ng-container {
//   //white-space: nowrap;
//   //overflow: hidden;
//   text-overflow: clip;
// }

// // .container-texto {
// //   display: -webkit-box;
// //   -webkit-line-clamp: 2;
// //   -webkit-box-orient: vertical;
// //   overflow: hidden;
// // }
